body {
    width: 60vw;
    margin: 0 auto;
    background-color: #e6e6e6;
    font-family: 'Slabo 27px', serif;
}

h1 {
    margin: 60px 0 16px 0;
    font-weight: 700;
    font-family: 'Bree Serif', serif;
    font-size: 24px;
}

p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

#info #description {
    text-align: center;
    display: inline-block;
    margin: 0 0 32px 0;
    width: 50%;
    max-width: 384px;
}

#info {
    text-align: center;
    width: 60vw;
    margin: 20px 0 20px 0;
}

#container {
    display: none;
    width: 100%;
    padding-top: 48%;
    position: relative;
    margin: 0 0 200px 0;
}

#cards_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card:nth-child(4n+1) {
    grid-column: 1/2;
}

.card:nth-child(4n+2) {
    grid-column: 2/3;
}

.card:nth-child(4n+3) {
    grid-column: 3/4;
}

.card:nth-child(4n+4) {
    grid-column: 4/5;
}

.card {
    background-color: transparent;
    height: 100%;
    perspective: 1000px;
    border: none;
    padding: 0;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card_inner:focus {
    outline: none;
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* line-height: 200px; --> in js*/
    padding: 0;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card_front {
    background-color: white;
    border: 2px solid #e6e6e6;
    color: #D69700;
    font-weight: 800;
    font-size: 14px;
}

.card_front p {
    opacity: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.card_back {
    transform: rotateY(180deg);
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 25%);
    -webkit-transition-property: box-shadow;
    -webkit-transition-delay: 1s;
    transition-property: box-shadow;
    transition-delay: 1s;
}

#finish {
    display: none;
}

#start_container {
    text-align: center;
    width: 100%;
    height: 50px;
}

#countdown {
    opacity: 0;
    float: left;
    position: absolute;
}

#countdown p {
    margin: 4px 0 0 0;
}

#sec {
    font-size: 24px;
    font-weight: 800;
    vertical-align: middle;
}

.card_back img {
    visibility: hidden;
    width: auto;
    height: 60%;
    vertical-align: middle;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

#start {
    border: none;
    background-color: #FBD600;
    width: 144px;
    height: 40px;
    font-weight: 700;
    border-radius: 4px;
    margin: 0 0 0 -72px;
    padding: 0;
    position: absolute;
    left: 50%;
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}

.card:focus {
    outline: none;
}

/* .card:hover {
    cursor: pointer;
} */

/* #start:focus {
    outline: none;
    background-color: '#D69700';
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 35%);
}

.card:focus .card_front {
    border: 2px solid #FBD600;
    opacity: 100%;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 15%);
}

.card:focus .card_front p {
    opacity: 100%;
} */